@-moz-document url-prefix("https://laravel.com/docs/") {
.docs-wrapper {
    width:95% !important;
    max-width:initial !important;
}

.sidebar {
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:0 !important;
    padding-left:0 !important;
    padding-right:0 !important;
    border-right:3px solid #f4645f;
    background-color:white !important;
    transition: width 0.2s ease-out, padding 0.2s ease-out;
    overflow:hidden;
    overflow-y:auto;
    white-space:nowrap;
	z-index:999;
}

.sidebar:hover {
    width:250px !important;
    padding-left:35px !important;
    padding-right:35px !important;
}

article {
    margin-left:0 !important;
    padding:0 4em !important;
}

.scotch-panel-canvas {
    transform:none !important;
}
}